@use '../custom' as *;

.footer {
    background-color: $secondary;
    color: $white;
    text-align: center;
    @include media-breakpoint-up(md) {
        text-align: left;
    }

    &__container {
        @include make-container; // variable de bootstrap
        max-width: map-get($map: $container-max-widths, $key: xxl);
    }

    &__row {
        padding-top: 5rem;
        padding-bottom: 5rem;
        @include make-row; // variable de bootstrap

    }
}